Drink Tracker/SampleData/AccountsSampleDataSource/AccountsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.AccountsSampleDataSource" targetNamespace="Blend.SampleData.AccountsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountsSampleDataSource" type="tns:AccountsSampleDataSource" />
  <xs:complexType name="AccountsSampleDataSource">
    <xs:sequence>
      <xs:element name="Accounts" type="tns:Accounts" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Accounts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AccountsItem" type="tns:AccountsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountsItem">
    <xs:sequence>
      <xs:element name="Bills" type="tns:Bills" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="1,8" name="Username" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Bills">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BillsItem" type="tns:BillsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BillsItem">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute blend:Format="Time" name="Time_created" type="xs:string" />
    <xs:attribute name="Custom_name" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date_created" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:sequence>
      <xs:element name="Drink" type="tns:Drink" />
    </xs:sequence>
    <xs:attribute blend:Format="Time" name="Time_added" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date_added" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Drink">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Volume" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="ABV" type="xs:double" />
    <xs:attribute blend:Format="Price" name="Price" type="xs:string" />
  </xs:complexType>
</xs:schema>